{% extends 'base.html' %}

{% block content %}
	<div class="card-columns">
		{% for book in page_obj %}	
		<div class="card clearfix">
			<img class="card-img-top img-thumbnail" src="{{ book.book_cover.url }}">
			<div class="card-body">
				<div class="card-text">
					<p><b>{{ book.title }} ~ &#8377; {{ book.price }}</b></p>
					<p>Written by:
					 {% for author in book.written_by.all %}
						{{ author.first_name }} {{ author.last_name }}</p>
					 {% endfor %}
					<p>Genre: {{ book.genre }}</p>
					<p>Pages : {{ book.pages }}</p>
					<p>Language : {{ book.language }}</p>
					<p>First Published : {{ book.first_published|date:"d M Y"}}</p>
				</div>
			</div>
			<a  class="btn btn-sm btn-block btn-secondary" 
				href="{% url 'read_book' book.slug %}">Read Online</a>
			</div>
		{% endfor %}
	</div>
	{% include 'pagination_snippet.html' %}
{% endblock content %}
