{% extends 'base.html' %}

{% block content %}
	<div class="jumbotron" style="padding: 3rem">
		<div class="row">
			<div class="col-md-4">
				<img src="{{ book.book_cover.url }}" 
             alt="{{ book.title }}" class="img-thumbnail">
			</div>
			<div class="col-md-8 mt-2">
				<strong>{{ book.title|capfirst }} | &#8377; {{ book.price }}</strong>
				<p>Book Description: </p>
				<p class="text-muted">
					Written By:  
				{% for author in book.written_by.all %}
					<a class="text-info" href="{% url 'books_by_author' author.slug %}">
					# {{ author|join:"," }}</a>
				{% endfor %}</p>
        <p class="text-muted">Genre:
          <a href="{% url 'books_by_genre' book.genre %}" class="links">#{{ book.genre }}</a>
        </p>
				<p class="text-secondary">
					Plot : {% lorem 1 p %}	
				</p>
				<p class="text-muted">
					Pages: {{ book.pages }}
				</p>
				<p class="text-muted">
					Language: {{ book.language }}
				</p>
				<p class="text-muted">
					ISBN: {{ book.isbn }}
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
