j/*@font-face{
	font-family: 'Great Vibes', cursive;
	src: url("../fonts/GreatVibes-Regular.ttf");
}

@font-face {
	font-family: 'Monoton', cursive;
	src: url("../fonts/Monoton-Regular.ttf");
}
*/
.card-text> p{
	margin-bottom: 0;
}
.nav-link {
	font-family: 'Monoton', cursive;
	font-size: 15px;
	font-weight: bold;
}

#logo {
	font-family: 'Great Vibes', cursive;
	font-size: 25px;
	font-weight: bold;
}

.links:hover{
	color: rgb(0,0,0);
	text-decoration: none;
}

#q_id:hover {
	text-decoration: none;
	color: rgb(0,200,100);
}
.card-text p{
  margin-bottom: 0rem;
} 
